<a href="https://colab.research.google.com/github/Eswa2020/crypto_analysis/blob/main/cryptocurrencies_2sql_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1.Business Understanding
It’s an appealingly simple concept: cryptocurrency is digital money that allows for secure peer-to-peer transactions on the internet.


Advantage of cryptocurrencies is that they are decentralized: any two people, anywhere in the world, can send bitcoin to each other without the involvement of a bank, government, or other institution

When you hold cryptocoin, you control it through a private key—a string of randomized numbers and letters that unlocks a virtual vault containing your purchase. Each private key is tracked on the virtual ledger called the blockchain.

Every transaction involving e.g Bitcoin is tracked on the blockchain, which is similar to a bank’s ledger, or log of customers’ funds going in and out of the bank.

In simple terms, it’s a record of every transaction ever made using cryptocurrencies.

Unlike a bank’s ledger, the blockchain is distributed across the entire network. No company, country, or third party is in control of it; and anyone can become part of that network.

##2.Data Understanding

With the same data understanding as with the first crypto notebook I decided to use the same data but use a different language to Query my results.

By now I have done further business Research as mentioned above and discovered that history price Patterns does not affect crypto future price changes.And prediction done used on historical patterns would be falcy.

##3.Research Questions



*   What's the hottest coin Right now?
*   What was the hottest coin 5 YEARS AGO?
*   What is the highest price coin Right now?
*   What is the lowest price coin Right now?
*   What is the Highest market value from 2020?
*   What is the Lowest market value from 2020?
*   Which coin has the Highest price change Right now?
*   Which coin has the lowest price change since 2020?
*   whats the volume history of the highest coin Right now?
*   Whats the volume history of the lowest coin Right now?
*   Whats the volume pattern of the first 10 high market value coins?
*   Whats the pattern volume of the last 10 worst markets value coins?

---

## 4.Import Libraries and load datasets

In [1]:
#importimg our libraries to use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime
%matplotlib inline

In [2]:
#let's load the crypto dataset 
crypto=pd.read_csv("/content/All_combined.csv")
crypto.head()

  Currency_Name        Date  Price  Open  High   Low       Vol.  Change %
0          Aave  30/01/2018   0.15  0.17  0.17  0.14   530470.0     -7.95
1          Aave  31/01/2018   0.14  0.15  0.15  0.13   396050.0    -11.10
2          Aave  01/02/2018   0.11  0.14  0.14  0.11   987260.0    -17.46
3          Aave  02/02/2018   0.10  0.11  0.11  0.08  1810000.0     -8.32
4          Aave  03/02/2018   0.11  0.10  0.12  0.09  1200000.0      6.85

##5.Explore the crypto Dataset

In [3]:
#let's load the crypto dataset 
crypto=pd.read_csv("/content/All_combined.csv")
crypto.head()

  Currency_Name        Date  Price  Open  High   Low       Vol.  Change %
0          Aave  30/01/2018   0.15  0.17  0.17  0.14   530470.0     -7.95
1          Aave  31/01/2018   0.14  0.15  0.15  0.13   396050.0    -11.10
2          Aave  01/02/2018   0.11  0.14  0.14  0.11   987260.0    -17.46
3          Aave  02/02/2018   0.10  0.11  0.11  0.08  1810000.0     -8.32
4          Aave  03/02/2018   0.11  0.10  0.12  0.09  1200000.0      6.85

In [3]:
#we the first column number
crypto.head()

  Currency_Name        Date  Price  Open  High   Low       Vol.  Change %
0          Aave  30/01/2018   0.15  0.17  0.17  0.14   530470.0     -7.95
1          Aave  31/01/2018   0.14  0.15  0.15  0.13   396050.0    -11.10
2          Aave  01/02/2018   0.11  0.14  0.14  0.11   987260.0    -17.46
3          Aave  02/02/2018   0.10  0.11  0.11  0.08  1810000.0     -8.32
4          Aave  03/02/2018   0.11  0.10  0.12  0.09  1200000.0      6.85

In [5]:
#we the last column number
crypto.tail()

,Currency_Name,Date,Price,Open,High,Low,Vol.,Change %
53830,XPR,26/01/2015,0.01469,0.01700,0.01750,0.01469,0.0,-13.59
53831,XPR,25/01/2015,0.01700,0.01739,0.01739,0.01560,0.0,-2.24
53832,XPR,24/01/2015,0.01739,0.01600,0.01739,0.01500,0.0,8.69
53833,XPR,23/01/2015,0.01600,0.01602,0.01700,0.01600,0.0,-0.12
53834,XPR,22/01/2015,0.01602,0.01523,0.01750,0.01523,0.0,5.19

In [6]:
#check for duplicates
print(crypto.duplicated().sum())

0

In [4]:
#check for data_types of the columns
crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53835 entries, 0 to 53834
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Currency_Name  53835 non-null  object
 1   Date           53835 non-null  object
 2   Price          53835 non-null  float64
 3   Open           53835 non-null  float64
 4   High           53835 non-null  float64
 5   Low            53835 non-null  float64
 6   Vol.           53835 non-null  float64
 7   Change %       53835 non-null  float64
dtypes: float64(6), object(2)
memory usage: 3.3+ MB

#### **OBSERVATIONS**

1. dataset has 8columns and 53835rows
2. it has no null values
3. it also has  no duplicates 
4. it contains mostly numerical datatype except date column and currency name which are object and date should be changed to date.
5.We will also query the table in sql with itself and then save it In csv for easier analysis

#5.Cleaning our crypto dataset

In [5]:
#since the data is mostly clean we start with changing the date column from"object"to"date"
#convert column to datetime pandas
crypto['Date'] = pd.to_datetime(crypto['Date'])

In [6]:
#Exctract month and create a dedicated column df["Month"] from a 
#column in datetime format df["Date"]
crypto['Month'] = pd.DatetimeIndex(crypto['Date']).month

In [7]:
#Exctract month and create a dedicated column df["year"] from a 
#column in datetime format df["Date"]
#this helps in analysis
crypto['year'] = pd.DatetimeIndex(crypto['Date']).year

In [33]:
crypto.rename(columns = {'Price':'price','Currency_Name':'name','Vol.':'volume','Change %':'price_change'}, inplace = True)

In [34]:
crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53835 entries, 0 to 53834
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          53835 non-null  object
 1   Date          53835 non-null  datetime64[ns]
 2   price         53835 non-null  float64
 3   Open          53835 non-null  float64
 4   High          53835 non-null  float64
 5   Low           53835 non-null  float64
 6   volume        53835 non-null  float64
 7   price_change  53835 non-null  float64
 8   Month         53835 non-null  int64
 9   year          53835 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.1+ MB

####**saving a cleaned dataset into csv**

In [35]:
 crypto_2=crypto.to_csv('raw_data.csv', index=False)

#6.Import SQL libraries and load datasets

In [37]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [38]:
#importimg our libraries to use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime
%matplotlib inline

In [39]:
# Let's load our All combined crypto dataset below
# And drop any existing tables if any similar to the one that we will be working with
# we add limit 5 to preview the first five entries of our csv table
with open('raw_data.csv','r') as f:
    crypto_2= pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS crypto_2;
%sql PERSIST crypto_2;
%sql SELECT * FROM crypto_2 LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Aave', '2018-01-30', 0.15, 0.17, 0.17, 0.14, 530470.0, -7.95, 1, 2018),
 ('Aave', '2018-01-31', 0.14, 0.15, 0.15, 0.13, 396050.0, -11.1, 1, 2018),
 ('Aave', '2018-01-02', 0.11, 0.14, 0.14, 0.11, 987260.0, -17.46, 1, 2018),
 ('Aave', '2018-02-02', 0.1, 0.11, 0.11, 0.08, 1810000.0, -8.32, 2, 2018),
 ('Aave', '2018-03-02', 0.11, 0.1, 0.12, 0.09, 1200000.0, 6.85, 3, 2018)]

#7.Sql Queries

###### **a**).What's the hottest coin Right now?
What is the hottest cryptocurrency?to answer this we can simply check which coins have the highest market cap currently.Where we already know market cap stands for current demand for a specific coin or what has been held in worth of investment of a specific coin.

So,We arrange them from the Largest cryptocurrencies by market cap

In [14]:
%%sql

SELECT name,volume AS market_cap,year

FROM crypto_2

WHERE year='2021'

GROUP BY name

ORDER BY market_cap DESC

LIMIT 10;

 * sqlite://
Done.

[('SHIBA_INU', 158456000000.0, 2021),
 ('BitTorrent', 46830000000.0, 2021),
 ('Binance_USD', 2330000000.0, 2021),
 ('Dogecoin', 2110000000.0, 2021),
 ('Cardano', 679650000.0, 2021),
 ('Tron', 443000000.0, 2021),
 ('Stellar', 400200000.0, 2021),
 ('XPR', 298000000.0, 2021),
 ('VeChain', 138000000.0, 2021),
 ('Polygon', 123100000.0, 2021)]

###### **b**)What was the hottest coin 5 YEARS AGO? 
5 years ago is 2021 minus 5 is 2016 so we will use the above code and just interchange just the year

In [15]:
%%sql

SELECT name,volume AS market_cap,year

FROM crypto_2

WHERE year='2016'

GROUP BY name

ORDER BY market_cap DESC

LIMIT 10;

 * sqlite://
Done.

[('Ethereum_Classic', 265160.0, 2016),
 ('Ethereum', 200240.0, 2016),
 ('Monero', 32800.0, 2016),
 ('Bitcoin', 27560.0, 2016),
 ('Litecoin', 6020.0, 2016),
 ('XPR', 0.0, 2016)]

###### **c**)What is the highest price coin Right now?

In [16]:
%%sql

SELECT name,MAX(DISTINCT price),year,Month

FROM crypto_2

WHERE year='2021' AND Month='12';

 * sqlite://
Done.

[('WBTC', 59883.23, 2021, 12)]

   ###### **d**)What is the lowest price coin Right now?

In [17]:
%%sql

SELECT name,MIN(DISTINCT price),year,Month

FROM crypto_2

WHERE year='2021' AND Month='12';

 * sqlite://
Done.

[('SHIBA_INU', 6.26e-06, 2021, 12)]

 ###### **e**)What is the Highest market value from 2020?

In [18]:
%%sql

SELECT name,MAX(DISTINCT volume),year

FROM crypto_2

WHERE year='2020';

 * sqlite://
Done.

[('BitTorrent', 555490000000.0, 2020)]

 ###### **f**)What is the Lowest market value from 2020?

In [19]:
%%sql

SELECT name,MIN(DISTINCT volume),year

FROM crypto_2

WHERE year='2020';

 * sqlite://
Done.

[('Aave', 0.0, 2020)]

 ###### **g**)Which coin has the Highest price change Right now?

In [40]:
%%sql
SELECT name,
MAX(price_change),
year
FROM crypto_2
GROUP BY name
ORDER BY year DESC
LIMIT 10;

 * sqlite://
Done.

[('Avalanche', 74.32, 2021),
 ('Axie_Infinity', 71.77, 2021),
 ('Binance_Coin', 69.99, 2021),
 ('Binance_USD', 0.16, 2021),
 ('BitTorrent', 113.47, 2021),
 ('Bitcoin_BEP2', 40.24, 2021),
 ('Cosmos', 38.69, 2021),
 ('FTX_Token', 31.49, 2021),
 ('GRT', 59.52, 2021),
 ('ICP', 41.6, 2021)]

 ###### **h**)Which coin has the lowest price change since 2020?

In [51]:
%%sql
SELECT name,
        MIN(price_change),
        year
FROM crypto_2
WHERE year>=2020 
GROUP BY name
ORDER BY price_change DESC
LIMIT 5;

 * sqlite://
Done.

[('Binance_USD', -0.12, 2021),
 ('USD_Coin', -0.55, 2020),
 ('Tether', -0.68, 2020),
 ('Dai', -5.72, 2020),
 ('Axie_Infinity', -11.15, 2021)]

 ###### **i**)whats the volume history of the highest coin Right now?
 We had already queried the highest coins in 2021 we now get the coin with highest price since inception to now and how its performance has been

In [60]:
%%sql
SELECT name,(price),year,month,volume
FROM crypto_2
WHERE name='WBTC' AND year>'2009'
GROUP BY month
ORDER BY year DESC;

 * sqlite://
Done.

[('WBTC', 39960.03, 2021, 1, 0.0),
 ('WBTC', 39167.65, 2021, 2, 0.0),
 ('WBTC', 38129.29, 2021, 3, 0.0),
 ('WBTC', 39795.31, 2021, 4, 0.0),
 ('WBTC', 40845.59, 2021, 5, 0.0),
 ('WBTC', 42878.85, 2021, 6, 0.0),
 ('WBTC', 44618.98, 2021, 7, 0.0),
 ('WBTC', 49176.5, 2021, 8, 0.0),
 ('WBTC', 46358.37, 2021, 9, 0.0),
 ('WBTC', 45564.92, 2021, 10, 0.0),
 ('WBTC', 45615.59, 2021, 11, 0.0),
 ('WBTC', 44396.09, 2021, 12, 0.0)]

 ###### **j**)Whats the volume history of the lowest coin Right now?

In [74]:
%%sql
SELECT name,price,year,month,volume
FROM crypto_2
WHERE name='SHIBA_INU' AND year>'2016'
GROUP BY month
ORDER BY year DESC;

 * sqlite://
Done.

[('SHIBA_INU', 6.3e-06, 2021, 1, 268068000000.0),
 ('SHIBA_INU', 6.34e-06, 2021, 2, 119233000000.0),
 ('SHIBA_INU', 6.18e-06, 2021, 3, 140348000000.0),
 ('SHIBA_INU', 6.23e-06, 2021, 4, 167019000000.0),
 ('SHIBA_INU', 6.22e-06, 2021, 5, 152338000000.0),
 ('SHIBA_INU', 6.31e-06, 2021, 6, 290817000000.0),
 ('SHIBA_INU', 7.8e-06, 2021, 7, 1027320000000.0),
 ('SHIBA_INU', 8.05e-06, 2021, 8, 158456000000.0),
 ('SHIBA_INU', 7.63e-06, 2021, 9, 534651000000.0),
 ('SHIBA_INU', 7.58e-06, 2021, 10, 298376000000.0),
 ('SHIBA_INU', 7.78e-06, 2021, 11, 510688000000.0),
 ('SHIBA_INU', 7.64e-06, 2021, 12, 393653000000.0)]