<a href="https://colab.research.google.com/github/Eswa2020/crypto_analysis/blob/main/cryptocurrencies_2sql_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1.Business Understanding

##2.Data Understanding

With the same data understanding as with the first crypto notebook I decided to use the same data but use a different language to Query my results.

By now I have done further business Research as mentioned above and discovered that history price Patterns does not affect crypto future price changes.And prediction done used on historical patterns would be falcy.

##3.Research Questions



*   What's the hottest coin Right now?
*   What was the hottest coin 5 YEARS AGO?
*   What is the highest price coin Right now?
*   What is the lowest price coin Right now?
*   What is the Highest market value from 2020?
*   What is the Lowest market value from 2020?
*   Which coin has the Highest price change Right now?
*   Which coin has the lowest price change since 2020?
*   whats the volume history of the highest coin Right now?
*   Whats the volume history of the lowest coin Right now?
*   Whats the volume pattern of the first 10 high market value coins?
*   Whats the pattern volume of the last 10 worst markets value coins?

---

## 4.Import Libraries and load datasets

In [1]:
#importimg our libraries to use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime
%matplotlib inline

In [2]:
#let's load the crypto dataset 
crypto=pd.read_csv("/content/All_combined.csv")
crypto.head()

  Currency_Name        Date  Price  Open  High   Low       Vol.  Change %
0          Aave  30/01/2018   0.15  0.17  0.17  0.14   530470.0     -7.95
1          Aave  31/01/2018   0.14  0.15  0.15  0.13   396050.0    -11.10
2          Aave  01/02/2018   0.11  0.14  0.14  0.11   987260.0    -17.46
3          Aave  02/02/2018   0.10  0.11  0.11  0.08  1810000.0     -8.32
4          Aave  03/02/2018   0.11  0.10  0.12  0.09  1200000.0      6.85

##5.Explore the crypto Dataset

In [3]:
#let's load the crypto dataset 
crypto=pd.read_csv("/content/All_combined.csv")
crypto.head()

  Currency_Name        Date  Price  Open  High   Low       Vol.  Change %
0          Aave  30/01/2018   0.15  0.17  0.17  0.14   530470.0     -7.95
1          Aave  31/01/2018   0.14  0.15  0.15  0.13   396050.0    -11.10
2          Aave  01/02/2018   0.11  0.14  0.14  0.11   987260.0    -17.46
3          Aave  02/02/2018   0.10  0.11  0.11  0.08  1810000.0     -8.32
4          Aave  03/02/2018   0.11  0.10  0.12  0.09  1200000.0      6.85

In [4]:
#we the last column number
crypto.tail()

,Currency_Name,Date,Price,Open,High,Low,Vol.,Change %
53830,XPR,26/01/2015,0.01469,0.01700,0.01750,0.01469,0.0,-13.59
53831,XPR,25/01/2015,0.01700,0.01739,0.01739,0.01560,0.0,-2.24
53832,XPR,24/01/2015,0.01739,0.01600,0.01739,0.01500,0.0,8.69
53833,XPR,23/01/2015,0.01600,0.01602,0.01700,0.01600,0.0,-0.12
53834,XPR,22/01/2015,0.01602,0.01523,0.01750,0.01523,0.0,5.19

In [5]:
#we the last column number
crypto.tail()

,Currency_Name,Date,Price,Open,High,Low,Vol.,Change %
53830,XPR,26/01/2015,0.01469,0.01700,0.01750,0.01469,0.0,-13.59
53831,XPR,25/01/2015,0.01700,0.01739,0.01739,0.01560,0.0,-2.24
53832,XPR,24/01/2015,0.01739,0.01600,0.01739,0.01500,0.0,8.69
53833,XPR,23/01/2015,0.01600,0.01602,0.01700,0.01600,0.0,-0.12
53834,XPR,22/01/2015,0.01602,0.01523,0.01750,0.01523,0.0,5.19

In [6]:
#check for duplicates
print(crypto.duplicated().sum())

0

In [7]:
#check for data_types of the columns
crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53835 entries, 0 to 53834
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Currency_Name  53835 non-null  object
 1   Date           53835 non-null  object
 2   Price          53835 non-null  float64
 3   Open           53835 non-null  float64
 4   High           53835 non-null  float64
 5   Low            53835 non-null  float64
 6   Vol.           53835 non-null  float64
 7   Change %       53835 non-null  float64
dtypes: float64(6), object(2)
memory usage: 3.3+ MB

#### **OBSERVATIONS**

1. dataset has 8columns and 53835rows
2. it has no null values
3. it also has  no duplicates 
4. it contains mostly numerical datatype except date column and currency name which are object and date should be changed to date.
5.We will also query the table in sql with itself and then save it In csv for easier analysis

#5.Cleaning our crypto dataset

In [3]:
#since the data is mostly clean we start with changing the date column from"object"to"date"
#convert column to datetime pandas
crypto['Date'] = pd.to_datetime(crypto['Date'])

In [4]:
#Exctract month and create a dedicated column df["Month"] from a 
#column in datetime format df["Date"]
crypto['Month'] = pd.DatetimeIndex(crypto['Date']).month

In [5]:
#Exctract month and create a dedicated column df["year"] from a 
#column in datetime format df["Date"]
#this helps in analysis
crypto['year'] = pd.DatetimeIndex(crypto['Date']).year

In [33]:
crypto.rename(columns = {'Price':'price','Currency_Name':'name','Vol.':'volume'}, inplace = True)

In [34]:
crypto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53835 entries, 0 to 53834
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      53835 non-null  object
 1   Date      53835 non-null  datetime64[ns]
 2   price     53835 non-null  float64
 3   Open      53835 non-null  float64
 4   High      53835 non-null  float64
 5   Low       53835 non-null  float64
 6   volume    53835 non-null  float64
 7   Change %  53835 non-null  float64
 8   Month     53835 non-null  int64
 9   year      53835 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(1)
memory usage: 4.1+ MB

####**saving a cleaned dataset into csv**

In [35]:
 crypto_2=crypto.to_csv('raw_data.csv', index=False)

#6.Import SQL libraries and load datasets

In [8]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [9]:
#importimg our libraries to use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime
%matplotlib inline

In [36]:
# Let's load our All combined crypto dataset below
# And drop any existing tables if any similar to the one that we will be working with
# we add limit 5 to preview the first five entries of our csv table
with open('raw_data.csv','r') as f:
    crypto_2= pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS crypto_2;
%sql PERSIST crypto_2;
%sql SELECT * FROM crypto_2 LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Aave', '2018-01-30', 0.15, 0.17, 0.17, 0.14, 530470.0, -7.95, 1, 2018),
 ('Aave', '2018-01-31', 0.14, 0.15, 0.15, 0.13, 396050.0, -11.1, 1, 2018),
 ('Aave', '2018-01-02', 0.11, 0.14, 0.14, 0.11, 987260.0, -17.46, 1, 2018),
 ('Aave', '2018-02-02', 0.1, 0.11, 0.11, 0.08, 1810000.0, -8.32, 2, 2018),
 ('Aave', '2018-03-02', 0.11, 0.1, 0.12, 0.09, 1200000.0, 6.85, 3, 2018)]

#7.Sql Queries

###### **a**).What's the hottest coin Right now?
What is the hottest cryptocurrency?to answer this we can simply check which coins have the highest market cap currently.Where we already know market cap stands for current demand for a specific coin or what has been held in worth of investment of a specific coin.

So,We arrange them from the Largest cryptocurrencies by market cap

In [60]:
%%sql

SELECT name,volume AS market_cap,year

FROM crypto_2

WHERE year='2021'

GROUP BY name

ORDER BY market_cap DESC

LIMIT 10;

 * sqlite://
Done.

[('SHIBA_INU', 158456000000.0, 2021),
 ('BitTorrent', 46830000000.0, 2021),
 ('Binance_USD', 2330000000.0, 2021),
 ('Dogecoin', 2110000000.0, 2021),
 ('Cardano', 679650000.0, 2021),
 ('Tron', 443000000.0, 2021),
 ('Stellar', 400200000.0, 2021),
 ('XPR', 298000000.0, 2021),
 ('VeChain', 138000000.0, 2021),
 ('Polygon', 123100000.0, 2021)]

###### **b**)What was the hottest coin 5 YEARS AGO?

In [22]:
%%sql

SELECT COUNT(DISTINCT year)

FROM crypto_2;

 * sqlite://
Done.

[(12,)]

In [ ]:
# Whats the hottest crypto coin right now?
%%sql
SELECT Currency_Name,Price,Vol.,Change %,Date
FROM crypto_2;

 * sqlite://
(sqlite3.OperationalError) near ",": syntax error
[SQL: SELECT Currency_Name,Price,Vol.,Change %,Date
FROM crypto_2;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# Whats the hottest crypto coin right now?

%%sql

SELECT Currency_Name,Price,Vol.,Change%,Date

FROM crypto_2

WHERE Date > "01/01/2021"

AND Date < "31/12/2021";

 * sqlite://
(sqlite3.OperationalError) near ",": syntax error
[SQL: SELECT Currency_Name,Price,Vol.,Change%,Date

FROM crypto_2

WHERE Date > "01/01/2021"

AND Date < "31/12/2021";]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
%%sql
SELECT Currency_Name AS name,
        MAX(Price) AS price,
        Date
FROM crypto_2
GROUP BY Currency_Name
ORDER BY Date DESC
LIMIT 25;

 * sqlite://
Done.

[('Tether', 1.06, '31/05/2017'),
 ('Filecoin', 190.86, '31/03/2021'),
 ('PancakeSwap', 42.68, '29/04/2021'),
 ('EOS', 21.4178, '29/04/2018'),
 ('Uniswap', 42.837, '28/04/2021'),
 ('Klaytn', 2.49, '26/04/2021'),
 ('Axie_Infinity', 77.3631, '23/08/2021'),
 ('Cardano', 2.915319, '23/08/2021'),
 ('VeChain', 8.168, '22/01/2018'),
 ('Bitcoin_Cash', 3708.9, '20/12/2017'),
 ('Dash', 1432.5, '20/12/2017'),
 ('Solana', 78.542, '20/08/2021'),
 ('IOTA', 5.32, '19/12/2017'),
 ('Aave', 629.38, '18/05/2021'),
 ('Polygon', 2.45004, '18/05/2021'),
 ('Algorand', 1.6957, '17/04/2021'),
 ('Bitcoin_SV', 440.25, '16/04/2021'),
 ('THETA', 14.1949, '16/04/2021'),
 ('Crypto.com_Coin', 0.2455, '15/04/2021'),
 ('Neo', 189.45, '15/01/2018'),
 ('ICP', 304.01, '14/05/2021'),
 ('Kusama', 595.29, '14/05/2021'),
 ('Polkadot', 48.075, '14/05/2021'),
 ('SHIBA_INU', 2.1e-05, '13/05/2021'),
 ('Bitcoin', 63540.9, '13/04/2021')]

In [ ]:
%%sql
SELECT Currency_Name AS name,
        MIN(Price) AS price,
        Date
FROM crypto_2
GROUP BY Currency_Name
ORDER BY Date ASC
LIMIT 25;

 * sqlite://
Done.

[('USD_Coin', 0.852092, '03/01/2019'),
 ('Ethereum', 6.7, '05/12/2016'),
 ('Litecoin', 3.5, '06/12/2016'),
 ('Tezos', 0.344, '06/12/2018'),
 ('Crypto.com_Coin', 0.0121, '07/02/2019'),
 ('Kusama', 31.314, '07/11/2020'),
 ('Uniswap', 2.475, '07/11/2020'),
 ('Filecoin', 2.73, '07/12/2018'),
 ('Maker', 0.0, '10/02/2018'),
 ('Stellar', 0.00172, '10/03/2017'),
 ('Waves', 0.5297, '10/12/2019'),
 ('Dai', 0.918, '11/04/2019'),
 ('GRT', 0.27762, '12/01/2021'),
 ('BitTorrent', 0.000178, '12/03/2020'),
 ('Cardano', 0.023222, '12/03/2020'),
 ('Cosmos', 1.6194, '12/03/2020'),
 ('Binance_Coin', 1.49, '12/11/2017'),
 ('Elrond', 0.01, '14/07/2020'),
 ('THETA', 0.0412, '14/12/2018'),
 ('Solana', 0.567, '15/06/2020'),
 ('Bitcoin_Cash', 78.35, '15/12/2018'),
 ('PancakeSwap', 7.206, '16/02/2021'),
 ('Algorand', 0.1265, '16/03/2020'),
 ('FTX_Token', 2.0147, '16/03/2020'),
 ('IOTA', 0.10951, '16/03/2020')]