<a href="https://colab.research.google.com/github/Eswa2020/crypto_analysis/blob/main/cryptocurrencies_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Business Understanding

##2.Data Understanding

##3.Research Questions



*   What's the hottest coin Right now?
*   What was the hottest coin 5 YEARS AGO?
*   What is the highest price coin Right now?
*   What is the lowest price coin Right now?
*   What is the Highest market value from 2020?
*   What is the Lowest market value from 2020?
*   Which coin has the Highest price change Right now?
*   Which coin has the lowest price change since 2020?
*   whats the volume history of the highest coin Right now?
*   Whats the volume history of the lowest coin Right now?
*   Whats the volume pattern of the first 10 high market value coins?
*   Whats the pattern volume of the last 10 worst markets value coins?

---

##4.Import SQL libraries and load datasets

In [1]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [2]:
#importimg our libraries to use
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from datetime import datetime
%matplotlib inline

In [5]:
# Let's load our All combined crypto dataset below
#we add limit 5 to get just the head
with open('/content/All_combined.csv','r') as f:
    crypto_2= pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS crypto_2;
%sql PERSIST crypto_2;
%sql SELECT * FROM crypto_2 LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Aave', '30/01/2018', 0.15, 0.17, 0.17, 0.14, 530470.0, -7.95),
 ('Aave', '31/01/2018', 0.14, 0.15, 0.15, 0.13, 396050.0, -11.1),
 ('Aave', '01/02/2018', 0.11, 0.14, 0.14, 0.11, 987260.0, -17.46),
 ('Aave', '02/02/2018', 0.1, 0.11, 0.11, 0.08, 1810000.0, -8.32),
 ('Aave', '03/02/2018', 0.11, 0.1, 0.12, 0.09, 1200000.0, 6.85)]